@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

.cart {
    min-height: 100vh;
    display: grid;
    margin-top: 3rem;
}

.cart .content {
    margin: 80px;
}

.cart .content th {
    font-size: 1.7rem;
}

.cart .content h3 {
    margin-top: 2rem;
    font-size: 3.5rem;
    color: #483434;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.cart .content h4 {
    margin-top: 2rem;
    font-size: 2rem;
    color: #483434;
    margin-left: 15%;
    margin-top: 5%;
}

.cart .content p {
    margin-top: 1.7rem;
    font-size: 2rem;
    color: #483434;
    margin-bottom: 3rem;
    margin-left: 15%;
}

.cart .content .menu-btn {
    padding: 1.5rem 3rem;
    background-color: #483434;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 15px;
    margin-left: 15%;
}

.cart .content .table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 4%;
}

.cart .content .table .update-btn {
    width: 7rem;
    height: 3.5rem;
    background-color: #483434;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

th {
    text-align: left;
    padding: 5px;
    color: white;
    background: #483434;
    font-weight: normal;
}

td {
    padding: 10px 5px;
    font-size: 1.6rem;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: red;
    font-size: 12px;
}

td img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

td .total {
    font-weight: 500;
}

.cart .content .table .cart-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.cart .content .table .cart-info h5 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 5px;
}

.cart.content .table .cart-info a {
    font-weight: 500;
}

.cart .quantity {
    text-align: center;
}

.cart .total-price {
    display: flex;
    justify-content: flex-end;
}

.cart .total-price table {
    border-top: 3px solid #483434;
    width: 90%;
    max-width: 250px;
    margin-right: 6%;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.cart .bottom {
    margin-top: 3.5%;
    margin-left: 64%;
}

.cart .bottom form {
    display: inline-flex;
    height: 5rem;
}

.cart .bottom .checkout-btn {
    padding: 1.5rem 3rem;
    background-color: #198754;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 15px;
    margin-left: 3%;
}

.cart .bottom .delete-btn {
    padding: 1.5rem 3rem;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 15px;
    margin-left: 10%;
}